@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --radius: 0.5rem;

        /* custom */
        --success: 142.1 76.2% 36.3%;
        --success-foreground: 355.7 100% 97.3%;
        --warning: 47.9 95.8% 53.1%;
        --warning-foreground: 26 83.3% 14.1%;
        --info: 221.2 83.2% 53.3%;
        --info-foreground: 210 40% 98%;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --radius: 0.5rem;

        /* custom */
        --success: 142.1 70.6% 45.3%;
        --success-foreground: 144.9 80.4% 10%;
        --warning: 47.9 95.8% 53.1%;
        --warning-foreground: 26 83.3% 14.1%;
        --info: 217.2 91.2% 59.8%;
        --info-foreground: 222.2 47.4% 11.2%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    :root {
        --chart-1: 220 70% 50%;
        --chart-2: 340 75% 55%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 160 60% 45%;
        --chart-6: 173 58% 39%;
        --chart-7: 12 76% 61%;
        --chart-8: 197 37% 24%;
        --chart-9: 43 74% 66%;
        --chart-10: 27 87% 67%;
        --chart-11: 240, 50%, 70%;
        --chart-12: 12, 45%, 50%;
        --chart-13: 275, 50%, 66%;
        --chart-14: 340, 60%, 66%;
        --chart-15: 0, 60%, 70%;
        --chart-16: 20, 70%, 60%;
        --chart-17: 30, 75%, 66%;
        --chart-18: 50, 75%, 66%;
    }
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        @apply h-[1px] w-[1px];
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        @apply bg-background rounded-lg;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-border rounded-lg border-none;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-border;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-50px);
        opacity: 0;
    }
}

::selection {
    @apply bg-primary text-primary-foreground;
}

.no-scrollbar-x::-webkit-scrollbar {
    display: none;
}
.no-scrollbar-x {
    -ms-overflow-style: none; /* IE va Edge */
    scrollbar-width: none; /* Firefox */
}

.no-time-icon::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.perspective {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner.rotate {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.no-time-icon::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
